[Unit]
Description=Force ipv4 static 
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/RPi-tools/network/mesh-force-ipv4-static.sh

[Install]
WantedBy=multi-user.target 
