[Unit]
Description=Set hostname with name from /boot/config.txt 
After=systemd-hostnamed.service

[Service]
Type=oneshot
ExecStart=/root/dynhost.sh

[Install]
WantedBy=multi-user.target
