[Unit]
Description=Starter launch services based on /boot/config.txt

[Service]
Type=oneshot
ExecStart=/root/RPi-tools/starter/starter

[Install]
WantedBy=multi-user.target
