[Unit]
Description=Syncthing automated master introducer
           
[Service]
Type=simple
ExecStart=/root/syncthing/sync-master
ExecStop=/bin/pkill syncthing 
Restart=always
           
[Install]
WantedBy=default.target
